html {
    color: #E8E8E8;
    font-family: 'Roboto', sans-serif;
    background-color: #424242;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 5em;
}

#content {
    display: flex;
    justify-self: center;
    width: 50%;
}

#left-panel, #right-panel {
    width: 50%
}

#details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.member-name {
    font-size: 3em;
}

#right-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#wheel {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: #000;
}

#submit-button {
    padding: 10px 25px;
    cursor: pointer;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    border: none;
    background-color: #FFF;
}