html {
    color: #919191;
    font-family: 'Roboto', sans-serif;
    background-color: #272727;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 15%;
    width: 100%;
    margin: 0;
    font-size: clamp(12px, 6vw, 50px);
}

#legend {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    height: 15%;
    width: 100%;
}

.member-name {
    padding: 10px;
    font-size: clamp(10px, 4vw, 30px);
    border-radius: 10px;
    border: 1px solid transparent;
}

#wheel-parent-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 55%;
    padding: 0 25px;
}

#pointer {
    position: absolute;
    top: -1.75vh;
    width: clamp(10px, 10vw, 50px);
    aspect-ratio: 1/1;
    z-index: 999;
}

#wheel-container {
    display: flex;
    overflow: hidden;
}

#wheel {
    max-width: 500px;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20%;
}

#spin-button {
    padding: 10px 25px;
    cursor: pointer;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    border: none;
    background-color: #FFF;
    z-index: 999;
}

#random-number {
    color: transparent;
}